.caja{
    height: 900px;
    border: solid 5px yellow;
}
.titulos{
    height: 150px;
    border: solid 5px red;
}
.sliderServicio{     
    padding-top: 50px;
    margin: auto;
    height: 700px;
    border: solid 5px green;
}

/*---contenido---*/
